[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    [class*="col-"] {float: left;padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
header {
background-image: url(Schermafbeelding\ 2025-06-08\ 125340.png);
background-size: cover;
text-align: center;
padding: 50px;
color: white;
font-family: 'Courier New', Courier, monospace;
font-size: 2em;
}
footer {
background-color: rgb(168, 190, 105);
color: white;
font-family: 'Courier New', Courier, monospace;
padding: 15px;
position: fixed;
bottom: 0;
}
.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}
.menu li {
padding: 8px;
margin-bottom: 7px;
background-color: rgb(236, 85, 85);
color: white;
}
.menu li:hover {
background-color: rgb(211, 114, 114);
color: black;
}
.article {
    background-color: bisque;
    flex: 1;
    padding: 8px;
    display: flex;
}


/*Alles onder deze regel heb ik geprobeerd tijdens de opdracht. Uiteindelijk niet gebruikt.
#links {
    width: 50%;  
    float: left;
    background-color: rgb(228, 187, 137);
}
#rechts {
    width: 50%; 
    float: left;
    background-color: azure;
}
.container {
    background-color: rgb(206, 138, 55);
    flex: 1;
    padding: 5px;
    display: flex;
}
.kolom {
  flex: 1;
  width: 50%;
  background-color: rgb(164, 182, 63);
}
.foto {
  float: right;
  width: 200;
  margin-left: 10px;
}